*
{
margin: 0;
padding: 0;
box-sizing: border-box;


}

body
{
position:absolute;;
left: 50%;
top:50%;
transform: translate(-50%,-50%);
background-color: #c9e6ff;
}
#container
{

display: grid;
grid-template-columns: 70px 70px 70px;
grid-template-rows: 70px 70px 70px;
grid-gap: 2px;
border-radius: .3rem;

}
.box
{

display: flex;
justify-content: center;
background-color:#6495ED;
align-items: center;
text-align: center;
border-radius: .3rem;
font-size: 33px;
font-family: monospace;
color: white;
text-shadow: 2px 2px 1px black;
font-weight: bold;
}

#msg{
  text-align: center;
margin-top: 3rem;
font-size: 33px;
color: orange;
text-shadow: 2px 2px white;
font-weight: bold;
display: none;

}
